* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(232, 217, 217);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F242D;
}

.header ul li a {
    color: white;
    transition: transform 0.3s linear, color 0.25s linear;
}

.header ul li a:hover {
    color: white;
    transform: scale(1.1);
    color: #CCB299
}

.foto {
    width: 250px;
    height: 250px;
}

.proyecto {
    width: 15rem;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.proyecto:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.7);
    transform: translateY(-7px);
}

.proyecto-img {
    height: 180px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion {
    padding: 5rem 0;
}

.carousel-img {
    height: 650px;
    max-width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}


/*.carousel-caption h5, p{
    background-color: black;
    color: white;
    max-width: 70%;
}*/
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    border-radius: 5px;
    justify-content: center;
}

.carousel-img {
    position: relative;
}

.icono {
background-color: #1F242D;
}

.footer {
    background-color: #1F242D;
}